@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-box {
  height: 283px;
}

.chat-box-main {
  animation-name: spin;
  animation-duration: 300ms;
}

::-webkit-scrollbar {
  width: 0;
}

@keyframes spin {
  0% {
    scale: 0.85;
  }
  100% {
    scale: 1;
  }
}
